<div class="container mt-5">
    <h2 *ngIf="!isEdit">{{ 'productForm.addNewProduct' | translate }}</h2>
    <h2 *ngIf="isEdit">{{ 'productForm.updateProduct' | translate }}</h2>

    <form [formGroup]="addProductForm">
        <!-- Product Name -->
        <div class="form-group">
            <label for="productName">{{ 'productForm.productName' | translate }}</label>
            <input type="text" class="form-control" formControlName="productName" id="productName"
                placeholder="{{ 'productForm.enterProductName' | translate }}">
            <div class="invalid-feedback"
                *ngIf="addProductForm.controls['productName'].touched && addProductForm.controls['productName'].hasError('required')"
                [ngClass]="{ 'active': addProductForm.controls['productName'].invalid }">
                {{ 'productForm.productNameRequired' | translate }}
            </div>
            <div class="invalid-feedback"
                *ngIf="addProductForm.controls['productName'].touched && addProductForm.controls['productName'].hasError('minlength')"
                [ngClass]="{ 'active': addProductForm.controls['productName'].invalid }">
                {{ 'productForm.productNameMinLength' | translate }}
            </div>
        </div>

        <!-- Description -->
        <div class="form-group">
            <label for="description">{{ 'productForm.description' | translate }}</label>
            <input type="text" class="form-control" formControlName="description" id="description"
                placeholder="{{ 'productForm.enterDescription' | translate }}">
            <div class="invalid-feedback"
                *ngIf="addProductForm.controls['description'].touched && addProductForm.controls['description'].hasError('required')"
                [ngClass]="{ 'active': addProductForm.controls['description'].invalid }">
                {{ 'productForm.descriptionRequired' | translate }}
            </div>
            <div class="invalid-feedback"
                *ngIf="addProductForm.controls['description'].touched && addProductForm.controls['description'].hasError('minlength')"
                [ngClass]="{ 'active': addProductForm.controls['description'].invalid }">
                {{ 'productForm.descriptionMinLength' | translate }}
            </div>
        </div>

        <!-- SKU -->
        <div class="form-group">
            <label for="SKU">{{ 'productForm.sku' | translate }}</label>
            <input type="text" class="form-control" formControlName="SKU" id="SKU"
                placeholder="{{ 'productForm.enterSKU' | translate }}">
            <div class="invalid-feedback"
                *ngIf="addProductForm.controls['SKU'].touched && addProductForm.controls['SKU'].hasError('required')"
                [ngClass]="{ 'active': addProductForm.controls['SKU'].invalid }">
                {{ 'productForm.skuRequired' | translate }}
            </div>
        </div>

        <!-- Stock -->
        <div class="form-group">
            <label for="stock">{{ 'productForm.stock' | translate }}</label>
            <input type="text" class="form-control" formControlName="stock" id="stock"
                placeholder="{{ 'productForm.enterStock' | translate }}">
            <div class="invalid-feedback"
                *ngIf="addProductForm.controls['stock'].touched && addProductForm.controls['stock'].hasError('required')"
                [ngClass]="{ 'active': addProductForm.controls['stock'].invalid }">
                {{ 'productForm.stockRequired' | translate }}
            </div>
        </div>

        <!-- Price -->
        <div class="form-group">
            <label for="price">{{ 'productForm.price' | translate }}</label>
            <div class="input-group">
                <input type="text" formControlName="price" id="price"
                    placeholder="{{ 'productForm.enterPrice' | translate }}" class="form-control" style="width: 90%;">
                <span class="input-group-text">JD</span>
            </div>

            <div class="invalid-feedback"
                *ngIf="addProductForm.controls['price'].touched && addProductForm.controls['price'].hasError('required')"
                [ngClass]="{ 'active': addProductForm.controls['price'].invalid }">
                {{ 'productForm.priceRequired' | translate }}
            </div>
        </div>

        <!-- Image Upload -->
        <div class="form-group">
            <label for="image">{{ 'productForm.uploadImage' | translate }}</label>
            <input type="file" class="form-control" formControlName="image" (change)="onFileChange($event)" id="image">
            <div class="invalid-feedback" *ngIf="imageError" [ngClass]="{ 'active': imageError }">
                {{ 'productForm.validImageRequired' | translate }}
            </div>
        </div>

        <!-- Warehouse -->
        <div class="form-group">
            <label for="warehouse">{{ 'productForm.warehouse' | translate }}</label>
            <select id="warehouse" formControlName="warehouse" class="form-control">
                <option selected>{{ 'productForm.chooseWarehouse' | translate }}</option>
                <option *ngFor="let Warehouse of warehouses" [value]="Warehouse.warehouseId">
                    {{ Warehouse.location }}
                </option>
            </select>
            <div class="invalid-feedback"
                *ngIf="addProductForm.controls['warehouse'].touched && addProductForm.controls['warehouse'].hasError('required')"
                [ngClass]="{ 'active': addProductForm.controls['warehouse'].invalid }">
                {{ 'productForm.warehouseRequired' | translate }}
            </div>
        </div>

        <!-- Save/Update Buttons -->
        <button type="button" class="btn-primary" *ngIf="!isEdit" (click)="saveBtn()">{{ 'buttons.save' | translate
            }}</button>
        <button type="button" class="btn-primary" *ngIf="isEdit" (click)="update()">{{ 'buttons.update' | translate
            }}</button>

        <!-- Overall error message -->
        <div *ngIf="showError && !addProductForm.valid" class="text-danger mt-3">
            {{ 'productForm.fillAllFields' | translate }}
        </div>
    </form>
</div>