@import '~@fortawesome/fontawesome-free/css/all.min.css';

.truncated {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines */
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge.bg-danger {
    font-size: 0.9em;
    padding: 0.3rem 0.6rem;
    border-radius: 0.25rem;
}