@import '~@fortawesome/fontawesome-free/css/all.min.css';

.truncated {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines */
    overflow: hidden;
    text-overflow: ellipsis;
}