@import '~@fortawesome/fontawesome-free/css/all.min.css';

.truncated {
    display: -webkit-box;
    -webkit-box-orient: vertical;

    /* Limit to 2 lines */
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge.bg-danger {
    font-size: 0.9em;
    padding: 0.3rem 0.6rem;
    border-radius: 0.25rem;
}

/* Style for the form group container */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

/* Style for the label */
.slider-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
}

/* Style for the slider */
.slider {
    -webkit-appearance: none;
    /* Removes the default look for Webkit browsers */
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    transition: background 0.3s ease-in-out;
}

/* Slider Thumb Style */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(33, 37, 41, 1);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(33, 37, 41, 1);
    cursor: pointer;
}

/* Hover effect on slider thumb */
.slider:hover {
    background: #ccc;
}

.slider:focus {
    box-shadow: 0 0 5px rgba(33, 37, 41, 1);
}

/* Style for when the slider value is changed */
.slider:active {
    background: rgba(33, 37, 41, 1);
}

.navbar {
    border-bottom: 2px solid rgba(33, 37, 41, 1);
}

.form-range {
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: rgba(33, 37, 41, 1);
    outline: none;
    transition: background 0.3s ease;
}

.form-range:focus {
    box-shadow: 0 0 5px rgba(33, 37, 41, 1);
}


.form-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(33, 37, 41, 1);
    cursor: pointer;
}

.table {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table th {
    background-color: white;
    color: rgba(33, 37, 41, 1);
    font-weight: 600;
}

.table tbody tr:hover {
    background-color: rgba(33, 37, 41, 1);
    cursor: pointer;
}

.btn-outline-primary:hover {
    background-color: rgba(33, 37, 41, 1);
    color: white;
}

.btn-primary {
    background-color: rgba(33, 37, 41, 1);
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: rgba(33, 37, 41, 1);
}

.badge.bg-danger {
    font-size: 0.9em;
    padding: 0.3rem 0.6rem;
    border-radius: 0.25rem;
}

.bg-primary {
    background-color: rgba(33, 37, 41, 1) !important;
}

.btn-success {
    --bs-btn-bg: rgba(33, 37, 41, 1)
}