<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="height: 80px;">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->

            <!-- Left links -->

            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->



            <!-- Avatar -->
            <div class="dropdown">
                <a id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                    <img src="{{profilImage}}" class="rounded-circle" height="45"
                        alt="Black and White Portrait of a Man" loading="lazy" />
                </a>

            </div>
        </div>

    </div>

</nav>
<!-- Navbar -->

<div style="margin-left: 40px; margin-top: 30px;">
    <h3>Order management</h3>
</div>


<nav class="navbar bg-body-tertiary mx-auto" style="margin-top: 50px; width: 90%;">
    <div class="container-fluid">
        <a class="navbar-brand">Order</a>
        <form class="d-flex" role="search">
            <input type="search" class="form-control rounded" placeholder="Sreach By location" aria-label="Search"
                aria-describedby="search-addon" #searchText />
            <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init
                (click)="search()">search</button>

            <button type="button" class="btn btn-primary" style="margin-left: 35px; width: 180px;"
                (click)="newOrder()">Create New</button>
        </form>
    </div>



</nav>



<table class="table align-middle mt-3 bg-white mx-auto" style="width: 90%; ">
    <thead class="bg-light">
        <tr>
            <th>ID</th>
            <th>product Name</th>
            <th>date</th>
            <th>status</th>
            <th>total price </th>
            <th>payment methods</th>
            <th>customer Name</th>
            <th>address</th>
            <th>quantity</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <td>
                <p class="fw-normal mb-1">{{order.orderId}}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{order.product.name}}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{order.orderDate | date:'shortDate'}}</p>

            </td>
            <td>
                <p class="fw-normal mb-1" [ngClass]="{'text-danger': order.orderStatus === 'Cancelled'}">
                    {{order.orderStatus}}</p>

            </td>
            <td>
                <p class="fw-normal mb-1">{{order.totalPrice}}jd</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{order.paymentmethods}}</p>

            </td>
            <td>
                <p class="fw-normal mb-1">{{order.customerName}}</p>

            </td>
            <td>
                <p class="fw-normal mb-1">{{order.shippingAddress}}</p>

            </td>
            <td>
                <p class="fw-normal mb-1">{{order.quantity}}</p>

            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn " data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>

                    <div class="dropdown-menu">

                        <a class="dropdown-item" (click)="edit(order.orderId)">
                            <i class="fas fa-edit"></i> Edit
                        </a>

                        <a class="dropdown-item" (click)="deleteOrder(order.orderId)">
                            <i class="fa-solid fa-trash" style="color: #ff0000;"></i> Delete
                        </a>
                    </div>

                </div>
            </td>
        </tr>
    </tbody>
</table>