<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="height: 80px;">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->

            <!-- Left links -->

            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Avatar -->
            <div class="dropdown">
                <a id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                    <img src="{{profilImage}}" class="rounded-circle" height="45"
                        alt="Black and White Portrait of a Man" loading="lazy" (click)="navigateToProfile()" />
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar -->

<div>
    <h3>{{ 'orderManagement.orderManagement' | translate }}</h3>
</div>

<nav class="navbar navbar-light bg-light shadow-sm mx-auto" style="margin-top: 30px; width: 90%; padding: 20px;">
    <div class="container-fluid">


        <div class="d-flex justify-content-between w-100">
            <!-- Order State Filter -->
            <div class="form-group" style="width: 250px;">
                <label for="order-state" class="text-muted">{{ 'orderManagement.orderState' | translate }}</label>
                <select id="order-state" class="form-select bg-light" [(ngModel)]="selectedOrderState"
                    (ngModelChange)="searchByStatus()">
                    <option value="" selected>{{ 'orderManagement.none' | translate }}</option>
                    <option value="Pending">{{ 'orderManagement.pending' | translate }}</option>
                    <option value="Delivered">{{ 'orderManagement.delivered' | translate }}</option>
                    <option value="Cancelled">{{ 'orderManagement.cancelled' | translate }}</option>
                </select>
            </div>

            <!-- Payment Method Filter -->
            <div class="form-group" style="width: 250px;">
                <label for="payment-method" class="text-muted">{{ 'orderManagement.paymentMethod' | translate }}</label>
                <select id="payment-method" class="form-select bg-light" [(ngModel)]="selectedpymentMethod"
                    (ngModelChange)="searchByPymentMethod()">
                    <option value="" selected>{{ 'orderManagement.none' | translate }}</option>
                    <option value="Cash">{{ 'orderManagement.cash' | translate }}</option>
                    <option value="Credit-Card">{{ 'orderManagement.creditCard' | translate }}</option>
                    <option value="Paypal">{{ 'orderManagement.paypal' | translate }}</option>
                </select>
            </div>

            <!-- Search Form -->
            <form class="d-flex" role="search">
                <input type="search" class="form-control"
                    placeholder="{{ 'orderManagement.searchByLocation' | translate }}" aria-label="Search"
                    #searchText />
                <button type="button" class="btn btn-outline-primary ms-2" (click)="search()">
                    {{ 'buttons2.search' | translate }}
                </button>
                <button type="button" class="btn btn-success ms-3" style="width: 180px;" (click)="newOrder()">
                    {{ 'buttons2.createNew' | translate }}
                </button>
            </form>
        </div>
    </div>
</nav>


<table class="table table-hover align-middle mt-3 bg-white mx-auto" style="width: 90%; ">
    <thead class="bg-light">
        <tr>
            <th>{{ 'orderManagement.id' | translate }}</th>
            <th>{{ 'orderManagement.productName' | translate }}</th>
            <th>{{ 'orderManagement.date' | translate }}</th>
            <th>{{ 'orderManagement.status' | translate }}</th>
            <th>{{ 'orderManagement.totalPrice' | translate }}</th>
            <th>{{ 'orderManagement.paymentMethods' | translate }}</th>
            <th>{{ 'orderManagement.customerName' | translate }}</th>
            <th>{{ 'orderManagement.address' | translate }}</th>
            <th>{{ 'orderManagement.quantity' | translate }}</th>
            <th>{{ 'orderManagement.actions' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <td>
                <p class="fw-normal mb-1">{{order.orderId}}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{order.product.name}}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{order.orderDate | date:'shortDate'}}</p>
            </td>
            <td>
                <p class="fw-normal mb-1" [ngClass]="{'text-danger': order.orderStatus === 'Cancelled'}">
                    {{order.orderStatus}}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{order.totalPrice}} JD</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{order.paymentmethods}}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{order.customerName}}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{order.shippingAddress}}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{order.quantity}}</p>
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn " data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>

                    <div class="dropdown-menu">

                        <a class="dropdown-item" (click)="edit(order.orderId)">
                            <i class="fas fa-edit"></i> {{ 'orderManagement.edit' | translate }}
                        </a>

                        <a class="dropdown-item" (click)="deleteOrder(order.orderId)">
                            <i class="fa-solid fa-trash" style="color: #ff0000;"></i> {{ 'orderManagement.delete' |
                            translate }}
                        </a>
                    </div>

                </div>
            </td>
        </tr>
    </tbody>
</table>