<section style="background-color: #eee; padding: 30px;">


    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="{{userInfo.profileImage}}" alt="avatar" class="rounded-circle img-fluid"
                        style="width: 150px;">
                    <h5 class="my-3">{{userInfo.userName}}</h5>
                    <p class="text-muted mb-1">{{userInfo.roles[0]}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{userInfo.name}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{userInfo.email}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Phone</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{userInfo.phoneNumber}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Warehouse Id </p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{userInfo.warehouseId}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <p class="mb-4"> rest <span class="text-primary font-italic me-1">Password</span></p>

                            <form [formGroup]="changePasswordForm">
                                <div class="form-group mx-sm-3 mb-2">

                                    <input type="password" class="form-control" formControlName="currentPassword"
                                        id="inputPassword2" placeholder="old Password">
                                </div>

                                <div class="invalid-feedback form-group mx-sm-3 mb-2"
                                    *ngIf="changePasswordForm.controls['currentPassword'].touched && changePasswordForm.controls['currentPassword'].hasError('required')"
                                    [ngClass]="{ 'active': changePasswordForm.controls['currentPassword'].invalid }">
                                    Old Password is required.
                                </div>

                                <div class="form-group mx-sm-3 mb-2">

                                    <input type="password" class="form-control" id="inputPassword2"
                                        placeholder="new Password" formControlName="newPassword">
                                </div>

                                <div class="invalid-feedback form-group mx-sm-3 mb-2"
                                    *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].hasError('required')"
                                    [ngClass]="{ 'active': changePasswordForm.controls['newPassword'].invalid }">
                                    New Password is required.
                                </div>


                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="password" class="form-control" id="inputPassword2"
                                        placeholder="confirm Password" formControlName="confirmPassword">
                                </div>
                                <div class="invalid-feedback form-group mx-sm-3 mb-2"
                                    *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].hasError('required')"
                                    [ngClass]="{ 'active': changePasswordForm.controls['confirmPassword'].invalid }">
                                    Confirm Password is required.
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <button type="button" class="btn btn-primary" (click)="changePasswordBtn()">change
                                        password</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>